* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.cabeçalho {
    background-color: #A40101;
    display: flex; 
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-lista-item1 {
    display: inline-block;
    margin: 0 16px;
}