* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.cabeçalho {
    background-color: #A40101;
    display: flex; 
    align-items: center;
    padding: 24px 0;
}

.ACDC {
    background-image: linear-gradient(#A40101, #000000);
    color: #ffffff;
    display: flex;
    align-items: below;
    padding: 24px 0;
    
}
