* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.cabeçalho {
    background-color: #A40101;
    display: flex; 
    align-items: center;
    padding: 24px 0;
}


.ACDC {
    background-color: #A40101;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:  50px 50px 20px 90px;
    
}


